/* drie basisstijlregels om je te helpen */
:root {
  font-size: 62.5%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f1f1f1;
}

/* header */
/* nav */
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 1.5rem;
  width: 100%;
}
nav figure img {
  filter: invert();
  width: 30px;
}
/* main */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/hp-banner-jo-black-friday-bg-2211-s_2022-11-10-15-43-14_cache.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;

  padding: 1.5rem;
  gap: 20px;
  padding-bottom: 8rem;
}
/* info section */
main section.main-info {
  color: white;
}
main section.main-info h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
main section.main-info h2 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.3;
  margin-bottom: 2rem;
}
main section.main-info .counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
main section.main-info .counter div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section.main-info .counter span {
  font-size: 2.4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0.5rem;
}

main section.main-info .counter p {
  color: #bbb7c1;
}
main section.main-info .btn-deals {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  background: rgb(91, 74, 109);
  background: radial-gradient(
    circle,
    rgba(91, 74, 109, 1) 0%,
    rgba(165, 157, 175, 1) 100%
  );
  width: 100%;
  padding: 1.2rem 2rem;
  border-radius: 4px;
  border-bottom-right-radius: 15px;
}
/* phone image */
main section.phone-images img {
  max-width: 100%;
  width: 200px;
}
/* personalized content section */
.personalized-content {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}
.personalized-content > .login-box {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: white;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0rem 0rem 2rem -1rem rgb(0 0 0 / 50%);
  position: absolute;
  top: -50px;
  min-height: 120px;
  z-index: 10;
  width: 100%;
}
.personalized-content > .login-box p {
  color: #512485;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: left;
}
.personalized-content > .login-box a {
  background-color: #512485;
  padding: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 4px;
  border-bottom-right-radius: 15px;
}
