/* drie basisstijlregels om je te helpen */
:root {
  font-size: 62.5%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* header */
/* nav */
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 1.5rem;
  width: 100%;
}
nav figure img {
  filter: invert();
  width: 30px;
}
