body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefefe;
}
h1 {
  color: rgb(61, 119, 119);
  text-align: center;
  font-size: 3.6rem;
  border: solid 2px rgb(47, 174, 229);
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  animation: fadeIn linear infinite 1s;
  animation-direction: alternate-reverse;
}
h2 {
  color: rgb(61, 119, 119);
}
li:hover {
  color: cadetblue;
  cursor: pointer;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  max-width: 100%;
  width: 75%;
  margin: auto;
}
p {
  font-size: 1.6rem;
  list-style: 2.7rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
